# Ignore data, generatedm and output directories
DATA/
generated/
**/calibration*/input/
**/calibration*/output/
**/validation*/input/
**/validation*/output/

# Ignore build/python artifacts
*.egg-info/
__pycache__/
.ipynb_checkpoints/
